@using Kentico.PageBuilder.Web.Mvc

@model TemplateViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact-us-page">
    <!-- Contact Content - Editable Area -->
    <section class="contact-section py-5">
        <div class="container">
            <editable-area area-identifier="contactContent" />
        </div>
    </section>
</div>
