@using Kentico.PageBuilder.Web.Mvc

@model TemplateViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="services-list-page">
    <!-- Services Content - Editable Area -->
    <section class="services-section py-5">
        <div class="container">
            <editable-area area-identifier="servicesContent" />
        </div>
    </section>
</div>
